---
title: "Example Notebook"
author: "Test User"
output: html_document
---

# Introduction

This is an example R Markdown document.

In [ ]:
x <- 1:10
mean(x)

Some more text.

In [ ]:
plot(x, x^2)

 - 
 -

In [ ]:
%%stata
sysuse auto
sum